/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2018, 12:56:23 PM
    Author     : User
*/


.site-search{position: relative !important;}
#qbi{
    background: url(../images/ml_camera_icon.png) no-repeat center;
    background-size: 24px 24px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 27px;
    position: absolute;
    right:5px;
    top:10px;	
    z-index: 1000;
}

.gsst_e {
    vertical-align: middle;
}


.vs-qbi-apply-search{
    background: url(../images/ml_camera_icon.png) no-repeat center;
    background-size: 15px 16px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 27px;
    position: absolute;
    right:5px;
    top:10px;	
    z-index: 999;
    border:none !important;
}
.vs-qbi-apply-search:hover{
    background-color:#fff !important;
    border-color:none;
    color: none;
}

.gsst_e-apply-search {
    vertical-align: middle;
}


/* START : VISUAL SEARCH ADMIN PAGE STYLE ====================================*/

.vs-plugin-header{
    background-color: #fff;
    /*text-align: center;*/
    box-shadow: 0 1px 0 rgba(200,215,225,0.5),0 1px 2px #e9eff3;
}

.vs-plugin-header h2 {
    margin: 0;
    padding: 10px;
}

.vs-btn-group {
    margin-top: 14px;
}

.vs-btn-group a, .vs-linkbtn {
    background: white;
    border-color: #c8d7e1;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #2e4453;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    text-decoration: none;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    border-radius: 4px;
    padding: 7px 14px 9px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.vs-nav-tabs {
    border-bottom: 0px solid #dee2e6;
    float: right;
}

.vs-nav{
    display: initial;
}

.vs-card {
    max-width: 100% !important;
    padding-top: 0px;
    padding-bottom: 1px;
}

.vs-card-body{
    padding: 0;
}

.vs-dboard-navtab{
    border: 0px solid red;
}

.vs-dboard-navtab .vs-navlink{
    font-weight: 400;
}

.vs-dboard-navtab .vs-dboard-navtab.show .vs-navlink, .vs-dboard-navtab .vs-navlink.active {
    border-color: transparent;
    background: #0062CC;
    color: #fff;
}

.vs-dboard-navtab .vs-navlink {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#vs-plugin-footer{
    margin-top: 80px;
}

.vs-footernav{}
.vs-footernav li{}
.vs-footernav li a {
    font-size: 13px;
    color: darkgreen;
}

/*.vs-listgroup{
    margin-bottom: 10px;
}

.vs-listgroup a{
    background: #F3F6F8;
}

.vs-listgroup a:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
}

.vs-listgroup a:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
}*/

.vs-accordion-card{
    padding: 0 0 0 0px;
    border-radius: 0;
}

.vs-accordion-card .card-header a{
    color: darkgreen;
}

.vs-devmodtitle{
    padding-top: 50px;
}

.vs-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.vs-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.vs-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.vs-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .vs-slider {
    background-color: #2196F3;
}

input:focus + .vs-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .vs-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.vs-slider.round {
    border-radius: 34px;
}

.vs-slider.round:before {
    border-radius: 50%;
}



.vs-productshowtbl td, .vs-productshowtbl th {
    padding: 7px;
}

.vs-productshowtbl td {
    font-size: 13px;
}

.vs-productshowtbl th {
    font-size: 14px;
}

.vs-upimgform{   
    padding:10px 0 0px 0px
}
.vsFormModalHrMargin{margin:5px 0 5px 0;} 
.vsFormModalzIndex{z-index: 99999;}
.vs-title-front-suggested{ margin: 2px;}
.vsFrmModalTitle{margin:0;}
.vsFrmModalHearderPaddig{padding: 0.4rem 1rem;}
.vsFrmModalBodyPadding{padding: 0 1rem;}
.vsFrmModalBottomAcclexText{
    margin: 0 0 5px 0;
    font-size: 12px;    
    padding-left: 39%  !important;
}
.vsFormModalFormGroupBottomMargin{margin-bottom: .4rem}
.vsFrmModalSuggestedSearchImagePadding{padding: 1px;}


/* END : VISUAL SEARCH ADMIN PAGE STYLE ====================================*/



/*START : IMAGE SEARCH RESULT ===========================================*/

.vs_search_img_view{
    background: aliceblue; 
    padding: 25px 10px;
}

.vs_breadcrumb{
    background: transparent;
}

.vs_result_area{
    padding: 30px 0px;
}

.vs_details_btn{
    font-size: 12px; 
    margin-bottom: 50px;
}

.vs_inp_search{
    max-width: 192px; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
    max-height: 37px;
}

.vs_go_btn{
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
}

.vs_widget_tp_padding{
    margin-top: 50px;
}

.vs_meta_list{
    font-size: 14px;
}

/*END : IMAGE SEARCH RESULT ===========================================*/


.vs_recentProductContainer{
    margin: 0;
    padding: 0;
    max-height: 270px; 
    overflow-y: scroll;
}
.vs_recentProductContainer li{
    float: left;
    margin: 5px;
    list-style: none;
    cursor: pointer;
    position: relative;
}

button.qbi-apply-search1{
    border: transparent;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
}
.vs_recentProductContainer li .vs_fron_pro_icon img{
    position: absolute;
    top: 2px;
    right: 1px;
    z-index: 99;
    /* width: 100%;*/
    width: 15px;
}


/* Start : Loader CSS Starting ===============*/
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
/* End : Loader CSS Starting ===============*/





/* Start : Loader CSS For URL Starting ===============*/
#cover-spinURL {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

#cover-spinURL::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
/* End : Loader CSS Starting ===============*/

#cover-spinClick{
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

#cover-spinClick::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
/* End : Loader CSS Starting ===============*/

#cover-spinAfterClick{
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

#cover-spinAfterClick::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
/* End : Loader CSS Starting ===============*/

@media only screen and (max-width: 767px){
    .tab-content > .vs-tab-pane {
        /*display: block !important;*/
    }

    #vsImgUpbtn{
        margin-left: 14px;
    }
}


.vs-front-frm-l-padding0{
    padding-left: 0 !important;
}
.vs-front-frm-r-padding0{
    padding-right: 0 !important;
}
.vs-front-frm-t-b-l-r-padding3-75rem{
    padding: 0.3rem 0.75rem !important;
}
.vs-front-frm-t-b-l-r-padding4-75rem{
    padding: 0.4rem 0.75rem !important;
}
.vs-front-from-ml-icon-mx-width{
    max-width: 20px !important;
}
.vs-front-from-ml-icon-mx-width-flex{
    max-width: 20px !important;
    display:flex;
}
.vs-front-from-ml-icon-logo-width{
    width: 10% !important;
    /*margin-left: 45%;*/
}
.vs-front-search-image-front-opt-mx-width299{
    max-width:299px !important;
}
